{% extends 'base.html' %}
{% block content %}

<script src="/static/js/fontawesome-markers.min.js"></script>
<script src="/static/js/page.js"></script>
<script src="/static/js/map.js"></script>

<!-- SEARCH PANEL --> 

<!-- <div class="panel panel-default">
  <center><h1><div class="panel-body"> Eat Local. Eat Fresh.</div></h1></center>
</div> -->
<style>

.box-title {
    font-family: 'Bungee Hairline', cursive;
    color: #143C22;
}

</style>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><div class="panel-title"><i>Search & Discover</i></div></center>
                  <br>
                  <form action="/JSON_food_coords" method="post">
                        <div class="form-group">
                          <label for="foodType">Food/Produce Type</label>
                            <input type="text" class="form-control" id="food_type" aria-describedby="foodTypeInput" placeholder="ex: eggs; chicken; lamb">
                        </div>
                          <div class="form-group">
                            <label for="keySearchWords">Search Terms</label>
                              <input type="text" class="form-control" id="key_words" placeholder="ex: organic; free-range; all-natural">
                          </div>
                            <div class="form-group">
                              <label for="distanceSelect">Distance (in Miles)</label>
                                <select class="form-control" id="radius">
                                  <option>5</option>
                                  <option>15</option>
                                  <option>25</option>
                                  <option>50</option>
                                </select>
                            </div>
                              <div class="modal-footer">
                            <center><button type="submit" id="submitFoodRequest" style="width: 200px" class="btn btn-success-outline">Submit</button></center>
                            <br>
                        </form>

                            <!-- NEW POST MODAL TRIGGER --> 
                            <center><button id="myPostButton" type="button" style="width: 200px" class="btn btn-success-outline" data-toggle="modal" data-target="#newPostModal">Make Your Own Post!</button>
                        </div><!-- /. modal-footer -->
                </div>
              </div>
            </div>
          </div>

      <div id="map-container" class="fluid col-sm-4 col-md-4">
        <div id="map" class="col-sm-4 col-md-4"></div>
      </div><!-- /. map container -->

        <div class="col-sm-4 col-md-4">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><div class="panel-title"><i>Results</i></div></center>
                    <br>

                    <div class="list-group">
                      <div class="list-group-item" id="tag-div-item"></div>
                    </div><!-- /. list-group -->
                    
                  </div><!-- /. panel-heading -->
                </div><!-- /. panel panel-default -->
              </div><!-- /. panel-group -->
            </div><!-- /. col-sm-4 -->

<!-- NEW POST MODAL -->
<div class="authentication">
  <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">Join in the Sharing!</h4>
          </div>
          <div class="modal-body">
            <form action="/new_tag.json" method='post'>
                <label for="food_type"> Food Type </label>
                    <input type="text" class="form-control" id="food_type" name="food_type" placeholder="apples" required autofocus>
                <!-- <label for="pick_date"> Pick Date </label>
                    <input type="text" class="form-control" id="pick_date" name="pick_date" placeholder="MM-DD-YYYY" required> -->
                    <br>
                <label for="quantity"> Quantity </label>
                    <input type="text" class="form-control" id="quantity" name="quantity" placeholder="2 dozen" required>
                    <br>
                <label for="key_words"> Key Words </label>
                    <input type="text" class="form-control" id="key_words" name="key_words" placeholder="Organic">
                    <br>
                <label for="description"> Description </label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="These apples were grown off our old oak and are excellent for pie baking!">
                </div>
                <div class="modal-footer">
                    <input type="submit" class="auth btn btn-default" value="Register">
                </div>
            </form>
        </div>
      </div>
    </div>
                  

<!-- GOOGLE MAP DISPLAY -->
<!-- <div id="map"></div>  -->

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_fGNl1MVlyfeRjgl7ZwYQyvu8NOtdGC0&callback=initMap">
    </script>

{% endblock %}
</html>